@import 'theme_variables';

.twitch-container {
  h2 { text-align: center; }
  > hr{
    margin:.5em 0;
  }
}

.stream-container{
  hr {
    margin: 0;
  }
  a {
    color:inherit;
  }
  .streamer{
    width:100%;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    &.site-stream{
      font-weight:700;
    }
    .streamer-wrapper{
        padding:12px 6px;
    }
    .streamer-name{
      width:80%;
      float:left
    }

    .viewer-count{
      width:20%;
      float:left;
      text-align: right;
    }
  }
  .no-streamer {
    width:100%;
    padding: 8px 0px 2px;
    text-align: center;
  }
}
//sidebar overrides -- slated
.main-content.has-sidebars {
  .container.posts {
    border: 0;
    background-color: inherit;
    border-radius: 0;
  }
  .post-stream {
    .topic-post .topic-body{
      border-top: 1px solid darken($secondary, 10%);
      //its overriding border here on light, have to refactor light before continuing
      border-left: initial;
    }
  }
  .container.list-container {
    //note bg-color line below, didnt check it but have to for dark
    background-color: inherit;
    // border: 0;
  }
  .topic-list-bottom {
    margin: 0;
  }
  //Below is UNFINISHED. Do not enable the sidebar outside of the category pages
  //until we've figured out how to totally overwrite or disable styling on topic.
  &.topic {
    #topic-title {
      background: inherit;
      border-radius: 0;
      border: 0;
      margin-bottom: inherit;
      padding-top: inherit;

      .container {
        // padding: 0;
      }
    }
    .posts-wrapper {
      border-radius: 0;
      // border: 0;
    }
    .topic-status-info {
      // border-top: 0;
    }
    #suggested-topics {
      background: inherit;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4);
      tbody {
        border-top:0;
      }
    }
  }
}

.main-content.is-responsive {
  width: 100% !important;
  margin: 0 0 60px 0 !important;
    .topic-post>.boxed>.row {
      padding: initial;
}
}