.twitch-container {
  h2 { text-align: center; }
  hr{
    margin:.5em 0;
  }
}

.stream-container a{
  color:inherit;
}
.streamer{
  width:100%;

  .streamer-wrapper{
      border-bottom:1px solid lightgray;
      margin-bottom:10px;
      padding:10px;
  }
  .streamer-name{
    width:80%;
    float:left
  }

  .viewer-count{
    width:20%;
    float:left;
    text-align: right;
  }
}

.streamer:last-of-type .streamer-wrapper{
  border-bottom:none;
}

.sidebar-container {
  .sidebar-content {

  }
}

.main-content.topic.has-sidebars {

  #topic-title {
    background: inherit;
  }

  #suggested-topics {
    background: inherit;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.4);
  }
}
